* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  overscroll-behavior: none;
}

input, textarea, button {
  font-family: 'Source Sans 3', system-ui, sans-serif;
}
